<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        {{ site.author }}
      </div>

      <div class="footer-col footer-col-2 icon-list">
        <a href="https://github.com/{{ site.github_repo }}">
          <i class="bi bi-github"></i>
          <span class="username">{{ site.github_repo }}</span>
        </a><br>
        <a href="{{ site.baseurl }}{% link code-of-conduct.md %}">
          Code of conduct
        </a>
      </div>

      <div class="footer-col footer-col-3 icon-list">
        <a href="{{ site.github.repository_url }}/blob/main/{{ page.path }}">
          View page source
        </a><br>
        <a href="{{ site.github.repository_url }}/edit/main/{{ page.path }}">
          Improve this page
        </a>
      </div>

  </div>

</footer>
